@font-face {
    font-family: Franklin;
    src: url(../css/FranklinGothicHeavyRegular.ttf);
}
@font-face {
    font-family: "Avant Garde Gothic";
    src: url(../css/ITCAvantGardeGothicLTBold.otf);
}
@font-face {
    font-family: "Helvetica Now";
    src: url(../css/HelveticaNowText-Bold.ttf);
}
@font-face {
    font-family: "Atarian";
    src: url(../css/SfAtarianSystemBold-w3rz.ttf);
}

body{
    background-color: rgba(90, 118, 133);
    color: #2c2c2c;

    cursor: url("../images/atari_logo-cursor_blue.png"), pointer;

}


.box{
    display:flex;
}

.box .title{
    background-color: rgba(197,192,163);
    align-self: flex-end;
    white-space: nowrap;

    height: 6.5vw;
    padding: 1vw 2vw 1vw 2vw;
}

.box .marg{
    margin-top:3vw;
}

.ecke{
    position: absolute;
    left:-1.5px;
    top:2vw;
    display: flex;
    z-index: 300;
}

.box .queer{
    width: 0px;
    height: 0px;
    -webkit-transform:rotate(360deg);
    border-style: solid;
}
.box .queer.top{
    margin-right: 1.5vw;
    border-width: 8.5vw 0 0 8.5vw;
    border-color: transparent transparent transparent rgba(197,192,163);
    transform: scale(1.01) translate(-0.01vw, 0.01vw);
    z-index: 0;
}
.box .queer.btm{
    margin-top: -2vw;
    margin-left: -8.3vw;
    border-width: 0 8.5vw 8.5vw 0;
    border-color: transparent rgba(197,192,163) transparent transparent;
    transform: scale(1.01) translate(0.01vw, -0.01vw);
}

.box .queer.btm.shd1{
    margin-top: -1vw;
    margin-left: -8.5vw;
    border-color: transparent rgb(153, 149, 128) transparent transparent;
    transform: scale(1.01) translate(0.01vw, -0.01vw);
}
.box .queer.btm.shd2{
    margin-top: 0vw;
    border-color: transparent #666355 transparent transparent;
}

.box.mid{
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgba(197,192,163);
    border-style: ridge;
    border-width: 0 0 2vw 0vw;
    border-color: rgb(153, 149, 128);
    
}

.box.mid.fix{
    
    position:sticky;
    top: 8px;
    right:8px;
  }

.box.mid > div{
    padding: 2vw 2vw 2vw 2vw;
    flex: 100%
}

.box .bottom{
    background-color: rgba(197,192,163);
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;

    flex: 100%;
    flex-basis: 60vw;
    flex-shrink: 1;

    margin-top: -2vw;
    margin-left: -0.1vw;
    height: 6.5vw;
    padding: 1vw 2vw 1vw;

    border-style: ridge;
    border-width: 0 0 2vw 0;
    border-color: rgb(153, 149, 128);
}

.box .bottom.fixed{
    position:fixed;
    right:8px;
  }

img{
    max-width: 100%;
    /*border-style: ridge;
    border-width: 2vw 0 0 0;
    border-color:rgb(153, 149, 128);*/
}

img.image:hover{
    /*opacity: 0.8;*/
    cursor: url("../images/atari_logo-cursor_red.png"), pointer;
}

.vid{
    max-width: 96%;

    margin: 2vw;
}


h1{
    color:rgba(90, 118, 133);
    font-family: "Atarian", sans-serif;
    font-size: 35vw;
    justify-self: center;
    padding: 2vw;
    margin: -3vw;
    letter-spacing: .05em;
    text-shadow: 
        0.6vw 0.6vw 0vw rgba(197,192,163), 
        1.4vw 1.4vw 0vw rgba(90, 118, 133, 0.4);
}
h2{
    font-family: "Avant Garde Gothic", sans-serif;
    margin: 0vw;
    font-size: 5vw;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
        0.2vw 0.2vw 0vw rgba(197,192,163), 
        0.5vw 0.5vw 0vw rgba(0, 0, 0, 0.2);
}
h3{
    display: inline;
    font-family: "Avant Garde Gothic", sans-serif;
    margin: 0vw;
    font-size: 3vw;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
        0.2vw 0.2vw 0vw rgba(197,192,163), 
        0.5vw 0.5vw 0vw rgba(0, 0, 0, 0.2);
}
h4{
    display: inline;
    font-family: "Atarian", sans-serif;
    margin: 0vw;
    font-size: 6vw;
    color: rgba(90, 118, 133);
    letter-spacing: .05em;
    text-shadow: 
        0.2vw 0.2vw 0vw rgba(197,192,163), 
        0.5vw 0.5vw 0vw rgba(90, 118, 133, 0.4);
}
h5{
    font-family: "Arial", Arial, sans-serif;
    margin: 0;
    background-color: #2c2c2c;
    color: rgba(197,192,163);
    text-align: center;

}
h6{
    margin:0vw;
    font-family: "Avant Garde Gothic", sans-serif;
    color: #2c2c2c;
    font-size: 35px;
}

.text{
    color: #2c2c2c;
    font-family: Bukinist, serif;
    font-size: 30px;
    align-items: flex-start;
    text-align: justify;
}

.one{
    text-decoration: none;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
        0.2vw 0.2vw 0vw rgba(197,192,163), 
        0.5vw 0.5vw 0vw rgba(0, 0, 0, 0.2);
}

.one:hover {
    cursor: url("../images/atari_logo-cursor_red.png"), pointer;
    color: #b9413c;
    letter-spacing: .05em;
    text-shadow: 
        0.2vw 0.2vw 0vw rgba(197,192,163), 
        0.5vw 0.5vw 0vw rgba(185, 65, 60, 0.2);
}

a.two{
    text-decoration: none;
    color: #2c2c2c;
}

a.two:hover {
    cursor: url("../images/atari_logo-cursor_red.png"), pointer;
    color: #b9413c;
}

.three{
    text-decoration: none;
    color: rgba(90, 118, 133);
    letter-spacing: .05em;
    text-shadow: 
        0.2vw 0.2vw 0vw rgba(197,192,163), 
        0.5vw 0.5vw 0vw rgba(90, 118, 133, 0.4);
}

.three:hover {
    cursor: url("../images/atari_logo-cursor_red.png"), pointer;
    color: #b9413c;
    letter-spacing: .05em;
    text-shadow: 
        0.2vw 0.2vw 0vw rgba(197,192,163), 
        0.5vw 0.5vw 0vw rgba(185, 65, 60, 0.2);
}

.noscroll{
    overflow: hidden;
}

.infobox{
    font-family: "Arial", Arial, sans-serif;
    font-size: 20px;
    padding: 1vw 1vw 1vw 1vw;

    border-style: solid;
    border-width: 0.2vw;
    border-color: #2c2c2c;
}

@media (max-width: 1080px) {
    .boxmiddle{
        flex-wrap: wrap;
        font-size: 3vw;
    }
    .box.mid{
        flex-wrap: wrap;
    }
    h6{
        font-size: 3vw;
    }
    .text{
        font-size: 3vw;
    }
    .infobox{
        font-size: 2vw;
    }
} 

@media (max-width: 600px) {
    .boxmiddle{
        flex-wrap: wrap;
        font-size: 15px;
    }
    h6{
        font-size: 15px;
    }
    .text{
        font-size: 20px;
    }
    .infobox{
        font-size: 13px;
    }
} 

@media (max-width: 350px) {
    h2{
        font-size: 15px;
    }
}

.box .title.tp{
    max-width: 0;
    width: auto;
    white-space: nowrap;

    animation-name: textin;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.box .title.tp.new{
    animation-delay: .5s;
    animation-duration: 5s; 
    animation-timing-function: steps(40, end);
}

.box .title.tp.ig{
    animation-delay: 2.5s;
    animation-duration: 5s; 
    animation-timing-function: steps(40, end);
}

.box .title.tp.igd{
    animation-delay: .5s;
    animation-duration: 5s; 
    animation-timing-function: steps(40, end);
}

.typewriter h2{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 left; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
}

.typewriter.new h2{
    animation: blink-caret .75s step-end 3;
    
}
.typewriter.igd h2{
    animation-delay: 2s;
    animation: blink-caret .75s step-end 6;
}

.typewriter.ig h2{
    animation: blink-caret .75s step-end 8;
}

.typewriter.user h2{
    animation: typing 3.5s steps(11, end),
}

@keyframes textin {
    from{ max-width: 0%; }
    to{ max-width: 100%; }
}

@keyframes typing {
    from{ width: 0%; }
    to{ width: 100%; }
}
  
 /* The typewriter cursor effect */
 @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #5a5a5a; }
 }

 .buddy{
    position: fixed;
    margin-left: 20vw;
    width: 12%;
    bottom: 3%;
    right: -15%;
    z-index: 500;

    animation-name: comebuddy;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes comebuddy{
    from { right: -15%;}
    to { right: 3vw; }
 }